.banner {
    background: linear-gradient(90deg, rgba(29, 1, 1, 0.4) 0%, rgba(194, 81, 43, 0.4) 100%);
    transform: rotate(-180deg);
}


.banner>* {
    transform: rotate(180deg);
}

.stroke {
    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    row-gap: 1.6em;
    margin-bottom: 5em;
    column-gap: 3.8em;
}

.grid > div{
    border-color: white;
    width: 100%;
}

