.nav .navlink.active {
    color: #FF7547;
}

.nav * {
    transition: all 0.2s ease;
}

.navlink img:hover {
    filter: invert(58%) sepia(22%) saturate(4117%) hue-rotate(331deg) brightness(104%) contrast(101%);
}

.nav .navlink.active img {
    filter: invert(58%) sepia(22%) saturate(4117%) hue-rotate(331deg) brightness(104%) contrast(101%);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding-block: 20px;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.444);
}