.nav .navlink.active {
    color: #FF7547;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding-block: 20px;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.444);
}